<h1 id="tableLabel">Game Changer</h1>

<p>Start by clicking the add/edit game button to show and hide the view. to edit click on the table item and click on the update button</p>

<p *ngIf="!games"><em>Loading...</em></p>
<button class="btn btn-primary" (click)="AddGame()">AddGame/Edit Game</button>
<hr />
<app-AddGame [events]="eventsSubject.asObservable()" [selected]="selected" [editing]="editing.asObservable()" (newGame)="GameRecieved($event)">

</app-AddGame>
<table class='table table-striped table-hover' aria-labelledby="tableLabel" *ngIf="games">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>PlatForms</th>
      <th>Selected</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gameOv of games" (click)="gameOv.isSelected=!gameOv.isSelected;ModifyGame(gameOv)" class="mask flex-center rgba-blue-light">
      <td>{{ gameOv.name }}</td>
      <td>{{ gameOv.genre }}</td>
      <td>{{ gameOv.platforms }}</td>
      <td><Input type="checkbox"  /></td>
      <br />

      <hr />
      <br />
      <td><button type="button" class=" btn btn-danger" (click)="deleteEntry(gameOv)"> delete</button></td>
    </tr>
  </tbody>
</table>
